body{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}

/*Header Stuff Here*/
header{
    background-color: #474143;
    padding: 1rem 2vw;
}

header h1 {
    color: #FFC636;
    margin: 0;
    letter-spacing: 0.28rem;
    font-weight: 900;
}

header p{
    color: #FFC636;
    font-weight: 400;
    margin: 0;
}

/*Nav Stuff go here*/

nav{
    background-color: black;
}

nav ul{
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
}

nav a{
    color:#FFC636;
    font-size: 1.1rem;
    text-decoration: none;
    padding: .85rem 2rem;
    display: block;
    font-weight: 700;
}

nav li.wayfinder a{
    background-color: #FFC636;
    color: black;
}

nav a:hover{
    color: white;
}

/*Stuff for the main*/
main{
    padding: 1rem 2vw;
}

main h1{
    color: #fc3b37;
}

main h2{
    color: #069e9c;
    font-weight: 500;
    margin-bottom: .2rem;
}

main p{
    color: black;
    margin: 0 0 .3rem 0;
}

main p strong {
    color: #7A4E3D;
}


main ul{
    margin: 0 0 .3rem 0;
}

main ul li strong{
    color: #7A4E3D;
}



main dl{
    color: #7A4E3D;
    margin: 0 0 .3rem 0;
}

main ol{
    padding: .5rem 3vw;
    background-color: #e7e7e7;
}

main ol strong{
    color: #83381a;
}

main ul li{
    line-height: 120%;
    margin-bottom: .5rem;
    font-size: 1rem;
}

main ul{
    list-style-type: circle;
}

main dl dt em{
    font-weight: 500;
}

main dl dd{
    font-weight: 400;
    color: black;
    font-size: .9rem;
}

main a{
    color: #FFFFFF;
}

main a:hover{
    color: #fc3b37;}

main address{
    font-style: normal;
    background-color: black;;
    padding: .5rem;
    width: 12.5rem;
    border: 2px solid #FFC636;
    border-radius: .5rem;
    color: #FFFFFF;
    font-weight: 500
}

/*Footer Stuff Here*/

footer {
    background-color: #474143;
    text-align: center;
    color: #FFC636;
    padding: 1rem 0;
    font-size: .9rem;
    font-weight: 500;
}

footer a {
    color: #FFC636;
}