body{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}

/*Header Stuff Here*/
header{
    background-color: #eaeaea;
    padding: 1rem 2vw;
}

header h1 {
    color: #024873;
    margin: 0;
    letter-spacing: 0.45rem;
    font-weight: 900;
}

header p{
    color: #024873;
    font-weight: 400;
    margin: 0;
}

/*Nav Stuff go here*/

nav{
    background-color: #f2b705;
}

nav ul{
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
}

nav a{
    color:#024873;
    font-size: 1.1rem;
    text-decoration: none;
    padding: .85rem 2rem;
    display: block;
    font-weight: 700;
}

nav li.wayfinder a{
    background-color: #024873;
    color: #f2b705;
}

nav a:hover{
    color: white;
}

/*Stuff for the main*/
main{
    padding: 1rem 2vw;
}

main h1{
    color: #b40412;
}

main h2{
    color: #024873;
    font-weight: 500;
    margin-bottom: .2rem;
}

main p{
    color: black;
    margin: 0 0 .3rem 0;
}


main ul{
    margin: 0 0 .3rem 0;
}

main ul li strong{
    color: #b40412;
}



main dl{
    color: #b40412;
    margin: 0 0 .3rem 0;
}

main ol{
    padding: .5rem 3vw;
    background-color: #efefef;
}

main ol strong{
    color: #b40412;
}

main ul li{
    line-height: 120%;
    margin-bottom: .5rem;
    font-size: 1rem;
}

main ul{
    list-style-type: circle;
}

main dl dt em{
    font-weight: 500;
}

main dl dd{
    font-weight: 400;
    color: black;
    font-size: .9rem;
}

main a{
    color: #024873;
}

main a:hover{
    color: #b40412;}

main address{
    font-style: normal;
    background-color: #f2b705;
    padding: .5rem;
    width: 12.5rem;
    border: 1px solid #024873;
    border-radius: .5rem;
    color: black;
    font-weight: 500
}

/*Footer Stuff Here*/

footer {
    background-color: #eaeaea;
    text-align: center;
    color: #024873;
    padding: 1rem 0;
    font-size: .9rem;
    font-weight: 500;
}

footer a {
    color: #024873;
}